.contact-container {
    width: 83.33%;
    margin: 0 auto;
  }
  
  .contact-heading {
    text-align: center;
    font-size: 2.25rem; /* 4xl */
    font-weight: 800; /* font-extrabold */
    margin: 2.5rem 0; /* m-10 */
  }
  